@charset "ISO-8859-1";

/* :root {
  --bg-secondary: #EDEDED; #ffffff91;
  --bg-primary: white; #ffffff91;
} */

:root {
  --fg-primary: white;
  --fg-secondary: white;
  --bg-secondary: #2f3136; /* #ffffff91; */
  --bg-primary: #222831; /* #ffffff91; */
}

body {
	background-color: var(--bg-primary);
	color: var(--fg-primary);
}

#page {
	background-color: var(--bg-secondary);
	color: var(--fg-secondary);
}

#header {
	width: 100%;
	background-color: var(--bg-primary);
	color: var(--fg-primary);
	margin-bottom: 16px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#content {
	padding: 15px;
	min-height: 250px;
	margin-bottom: 16px;
}

#footer {
	background-color: var(--bg-primary);
	padding: 15px;
}


.background {
	width: 100%;	
}

/* Commons styles */

.padding-1 {
	padding: 7.5px;
}

.margin-left-1 {
	margin-left: 7.5px;
}

.d-flex {
	display: flex;
	gap: 15px;
}

.d-flex-center-items {
	align-items: center;
}

.d-flex-space-between {
	justify-content: space-between;
}

.text-center {
	text-align: center;
}

.card-primary {
	padding: 30px;
	background-color: var(--bg-primary);
	border-radius: 0.4em;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}


h1 {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 45px;
}

.form .field  {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 15px;
}

.form .field .form-group {
	min-width: 225px;
}

.form .field .faces-radio{
	text-align: center;
    width: 100%;
}

.form .error-message  {
	margin-top: 30px;
	margin-bottom: 15px;
	width: 100%;
}

.form .error-message span {
	display: inline-block;
	width: 100%;
}


.form .submit-btn {
	display: block;
	margin: 0 auto;
	margin-top: 45px;
	width: 100%;
}

form .table {
	margin: 0 auto;
}

.form .table th,
.form .table td {
	padding: 7.5px 15px;
	vertical-align: middle;
}



.table th:first-child {
	border-radius: 0.4em 0 0 0;
}

.table th:last-child {
	border-radius: 0 0.4em 0 0;
}

.table tbody tr:last-child td {
	border-bottom: none;
}


.table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 0.4em;
	border-bottom: none;
}

.table tbody tr:last-child td:last-child {
	border-radius: 0 0 0.4em 0;
	border-bottom: none;
}