@charset "ISO-8859-1";

.header-content {
	width: 80%;	
	margin: 0 auto;
	height: 36px;
}


.link-logo {
	margin-top: auto;	
}

.header-content .logo {
	height:76px;
	padding-top: 0px;
	margin-top: auto;
	box-shadow: #f8f9fa 0px 2px 4px, #ffffff29 0px 7px 13px -3px, #ffffff17 0px -3px 0px inset;
}

.nav-link {
	color: var(--fg-primary);
}

.nav-link:hover {
	color: var(--fg-primary);
}