@charset "ISO-8859-1";

.main-content {
	width: 350px;
	margin: 0 auto;
}

.main-content .logo {
	display:block;
	height:164px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 45px;
	box-shadow: #f8f9fa 0px 2px 4px, #ffffff29 0px 7px 13px -3px, #ffffff17 0px -3px 0px inset;
}