<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view>
	
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Votre compte</title>
		<h:outputStylesheet  name="login.css" library="css"/>
	</h:head>
	
	<body>
		<!-- DECLARATION DU TEMPLATE DONT LA PAGE EST CLIENTE -->
		<ui:composition template="/resources/template/layout.xhtml">
			<ui:define name="content">
				<h:form styleClass="form card-primary">
					<h:panelGrid styleClass="w-100" columns="1" cellpadding="2" cellspacing="2">
						<h1>Votre compte</h1>
						
						<div class="form-group">
							<h:outputLabel value="Email *"></h:outputLabel>
							<h:inputText class="form-control" value="#{userBean.email}" id="email" required="true">
								<f:validateLength minimum="8" maximum="20"></f:validateLength>
							</h:inputText>
							<h:message for="email" styleClass="text-danger"/>
						</div>
	
						<div class="form-group">
							<h:outputLabel value="Password *"></h:outputLabel>
							<h:inputSecret class="form-control"  value="#{userBean.password}" id="password" required="true">
								<f:validateLength minimum="8" maximum="20"></f:validateLength>
							</h:inputSecret>
							<h:message for="password"  styleClass="text-danger"/>
						</div>
					</h:panelGrid>
					
					<div class="error-message">
						<c:if test="#{ userBean.hasErrorMessage() }">		                
							<h:outputText value="#{userBean.errorMessage}" class="alert alert-danger" role="alert"/>
			            </c:if>
					</div>
					
					<h:commandButton styleClass="btn btn-primary w-100" id="valider" value="Se Connecter" action="#{ userBean.login() }"></h:commandButton>
				</h:form>
			</ui:define>
	
		</ui:composition>
	</body>
</f:view>
</html>