<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view>
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Gestion de participants</title>
		<h:outputStylesheet  name="users.css" library="css"/>
	</h:head>

	<body>
		<!-- DECLARATION DU TEMPLATE DONT LA PAGE EST CLIENTE -->
		<ui:composition template="/resources/template/layout.xhtml">
			<ui:define name="content">
				
				<h:form class="form card-primary">

					<h1>Liste des participants inscrits</h1>
					
					<small>
						<h:dataTable value="#{ userBean.userList }" var="user" styleClass="table table-striped table-dark">
							
							<h:column>
								<f:facet name="header">Actions</f:facet>
								<h:commandButton styleClass="btn btn-danger btn-sm" value="&#128465;" action="#{userBean.deleteUser(user)}"></h:commandButton>
								<h:commandButton styleClass="btn btn-primary btn-sm margin-left-1" value="&#9998;" action="#{userBean.goUpdateUser(user)}"></h:commandButton>
							</h:column>
							
							<h:column>
								<f:facet name="header">Nom</f:facet>
								<h:outputText value="#{ user.lastname }"></h:outputText>
							</h:column>
	
							<h:column>
								<f:facet name="header">Email</f:facet>
								<h:outputText value="#{ user.email }"></h:outputText>
							</h:column>
							
							<h:column>
								<f:facet name="header">Date de naissance</f:facet>
								<h:outputText value="#{ userBean.formatDate(user.birthday) }"></h:outputText>
							</h:column>
							
							<h:column>
								<f:facet name="header">Niveau de Service</f:facet>
								<h:outputText value="#{ user.serviceLevel }"></h:outputText>
							</h:column>
							
							<h:column>
								<f:facet name="header">Sexe</f:facet>
								<h:outputText value="#{ userBean.formatGender(user.gender) }"></h:outputText>
							</h:column>
							

						</h:dataTable>
					</small>
					
				</h:form>
				
			</ui:define>
		</ui:composition>
	</body>
	
</f:view>
</html>