<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets">
	<body>
		<ui:composition>
			<p class="text-center w-100">			
				<small>
					<i>Website created by Claudio Aguedo. @2021</i>
				</small>
			</p>
		</ui:composition>
	</body>
</html>