<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">

	<body>
		<ui:composition>
			<div class="header-content d-flex d-flex-center-items">
				<h:link class="link-logo" outcome="main">
					<h:graphicImage class="logo" library="images" name="logo_doranco.jpg"/>			
				</h:link>
				<div class="d-flex d-flex-center-items">
					<h:link id="login-link" styleClass="nav-link" value="Se connecter" outcome="login" />
					<h:link id="register-link" styleClass="nav-link" value="S'inscrire" outcome="register" />
					<h:link id="users-link" styleClass="nav-link" value="Gestion de participants" outcome="users" />
				</div>
			</div>
			<script>
				
 				const url = window.location.href
				
				const mappingLinks = {
					'login.xhtml' : 'login-link',
					'register.xhtml' : 'register-link',
					'users.xhtml' : 'users-link',
				}
				
				Object.getOwnPropertyNames(mappingLinks).forEach(prop => {
					if(url.includes(prop))
						document.getElementById(mappingLinks[prop]).classList.add("text-danger");
 					else
 						document.getElementById(mappingLinks[prop]).classList.remove("text-danger");
				})
				
			</script>
		</ui:composition>
	</body>
	
</html>