<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<meta http-equiv="cache-control" content="no-cache" />
	<h:outputStylesheet  name="bootstrap5.css" library="css"/>
	<h:outputStylesheet  name="common-style.css" library="css"/>
	<h:outputStylesheet  name="header.css" library="css"/>
</h:head>

<h:body>
	<div id="page"> 		
		<div id="header" class="padding-1">
			<ui:insert name="header">
				<ui:include src="/resources/template/header.xhtml"></ui:include>
			</ui:insert>
		</div>
		<div id="content" class="padding-1">
			<ui:insert name="content">
				<ui:include src="/resources/template/content.xhtml"></ui:include>
			</ui:insert>
		</div>
		<div id="footer" class="padding-1">
			<ui:insert name="footer">
				<ui:include src="/resources/template/footer.xhtml">
					<ui:param name="auteur" value="www.doranco.fr"></ui:param>
				</ui:include>
			</ui:insert>
		</div>
	</div>
</h:body>
</html>